body {
  margin: 0%;
  padding: 0%;
  background-image: url(img/backgroundForBody.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#menu {
  position: fixed;
  width: 15%;
  background: linear-gradient(0.25turn, #3e5863, #bb8641, #951da0);
  margin: 0px;
  padding: 0px;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

#menu li {
  list-style-type: none;
  font-family: fantasy;
  font-size: 3vh;
  margin: inherit;
  text-align: center;
}
#menu li:hover {
  background-color: rgb(25, 25, 78);
  color: gainsboro;
}

#menu li a:hover {
  cursor: default;
}
#container {
  max-width: 1200px;
  margin: 0px auto;
}
.block1 {
  position: absolute;
  border: 3px inset rgb(109, 33, 119);
  width: 30%;
  background-color: darkgray;
  left: 25%;
  height: 100%;
  padding: 5px;
  overflow: scroll;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(70, 132, 168);
  font-size: 3vh;
}
.block1 h5 {
  font-family: cursive;
  color: darkmagenta;
  font-size: 15px;
}
hr {
  border: none;
  height: 2px;
  color: rgb(109, 33, 119);
  background-color: rgb(109, 33, 119);
}
.block1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid brown;
  height: 10vh;
  width: auto;
  animation: blink 4s;
  position: center;
}
.block1 p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.block1 .full {
  text-align: center;
  border-radius: 80%;
  background-color: sandybrown;
}
@keyframes moveIcons {
  0% {
    bottom: 20px;
    background-color: crimson;
  }
  50% {
    bottom: 0px;
    background-color: rgb(24, 11, 14);
  }
  100% {
    bottom: 20px;
    background-color: darkcyan;
  }
}
.block1 .icons {
  text-align: right;
  /* position: absolute;
  bottom: 0px;
  right: 0px; */
  border-radius: 30%;
  background-color: springgreen;
  animation: moveIcons 2s;
}
.block2 {
  position: absolute;
  border: 3px inset rgb(109, 33, 119);
  width: 30%;
  background-color: darkgray;
  left: 60%;
  height: 100%;
  overflow: scroll;
  padding: 10px;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.block2 #name {
  animation: blink 2s;
}
.block2 img {
  display: block;
  margin-left: 0;

  border-radius: 10%;
  border: 2px solid brown;
  height: 100px;
  width: auto;
  animation: blink 4s;
}
/* .block2 img:hover{
  animation: blink 4s ;
} */

button {
  border-radius: 3%;
  border: teal solid 1px;
  background: linear-gradient(0.25turn, #3e5863, #bb8641, #951da0);
}
@media (max-width: 1200px) {
  #container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  #container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  #container {
    max-width: none;
  }
  #menu {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 8%;
  }
  #menu li {
    display: block;
    float: left;
    padding: 0 10px;
  }
  .block1 {
    position: absolute;
    border: 3px inset rgb(109, 33, 119);
    width: auto;
    background-color: darkgray;

    left: 0%;
    padding: 5px;
    overflow: scroll;
    top:9%;
    height: 40%;
    vertical-align: text-bottom;
  }
  .block2{
    position: absolute;
    border: 3px inset rgb(109, 33, 119);
    width: 100%;
    background-color: darkgray;
    left:0px ;
    height: 46%;
    padding: 5px;
    overflow: scroll;
    bottom:0px;
  }
}
